/*
 * Global styles
 */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
* {
  box-sizing: border-box;
}
input,
button {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: 0;
  padding: 0.5rem;
  font: inherit;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

/* Main app styles*/

.user-icon {
  max-width: 4rem;
}

main {
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
